<div *ngFor="let order of orders; index as i">
  <mat-card [ngStyle]="getBackgroundColorFromOrder(order)">
    <mat-card-header>
      <mat-card-title>{{
        order.id
      }}</mat-card-title>
      <mat-card-subtitle>{{
        (order?.amount || 100) / 100
      }}</mat-card-subtitle>
      <div class="end-chips">
        <mat-chip [ngStyle]="{ background: 'white' }">{{
          order?.status?.status
        }}</mat-chip>
        <mat-chip
          [ngStyle]="{
            background: isDelayed(order) ? 'red' : 'white'
          }"
        >
          {{ instantToDate(order?.operation?.expectedReadyTs) }}
        </mat-chip>
        <mat-chip [ngStyle]="{ background: 'white' }">
          {{ order?.type }}
        </mat-chip>
        <mat-chip
          [ngStyle]="{ background: '#E9D502' }"
          *ngIf="containsShakes(order)"
        >
          BATIDOS
        </mat-chip>
        <mat-chip
          [ngStyle]="{ background: '#E9D502' }"
          *ngIf="containsDrinks(order)"
        >
          BEBIDAS
        </mat-chip>
        <mat-chip
          [ngStyle]="{ background: '#E9D502' }"
          *ngIf="containsCakes(order)"
        >
          CAKES
        </mat-chip>
      </div>
      <mat-card-subtitle>{{
        order?.customer?.address
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button
        (click)="markAsInDelivery(order)"
        *ngIf="recogerButtonVisible(order)"
        mat-button
      >
        RECOGER
      </button>
      <button
        (click)="markAsDelivered(order)"
        *ngIf="entregarButtonVisible(order)"
        mat-button
      >
        ENTREGADO
      </button>
      <button
        (click)="navigateToDirection(order)"
        *ngIf="true"
        mat-button
      >
        DIRECCIONES
      </button>
      <button (click)="openOrderDialogInfo(order)" mat-button>INFO</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar
        *ngIf="true"
        mode="indeterminate"
      ></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>