<div>
    <div class="flex_response kpi">
        <div class="metric_box">
            <div>
                <span class="kpi-value">{{ kpis.finishedOrders }}</span>
            </div>
            <div>
                <p class="kpi-title">Finalizados</p>
            </div>
        </div>
        <div class="metric_box">
            <div>
                <span class="kpi-value">{{ kpis.inPreparationOrders }}</span>
            </div>
            <div>
                <p class="kpi-title">En preparación</p>
            </div>
        </div>
        <div class="metric_box">
            <div>
                <span class="kpi-value">{{ kpis.awaitingOrders }}</span>
            </div>
            <div>
                <p class="kpi-title">Esperando</p>
            </div>
        </div>
        <div class="metric_box">
            <div>
                <span class="kpi-value">{{ kpis.inDeliveryOrders }}</span>
            </div>
            <div>
                <p class="kpi-title">En reparto</p>
            </div>
        </div>
        <div class="metric_box">
            <div>
                <span class="kpi-value">{{ kpis.averageEndToEndTime }}</span>
            </div>
            <div>
                <p class="kpi-title">Tiempo medio de entrega</p>
            </div>
        </div>
    </div>
</div>