<div>
    <div class="flex_response kpi">
        <div class="metric_box">
            <div>
                <span class="kpi-value">{{ kpis.totalOrders }}</span>
            </div>
            <div>
                <p class="kpi-title">Total pedidos</p>
            </div>
        </div>
        <div class="metric_box">
            <div>
                <span class="kpi-value">{{ kpis.inPreparationOrders }}</span>
            </div>
            <div>
                <p class="kpi-title">En preparación</p>
            </div>
        </div>
        <div class="metric_box">
            <div>
                <span class="kpi-value">{{ kpis.averagePreparationTime }}</span>
            </div>
            <div>
                <p class="kpi-title">Tiempo medio</p>
            </div>
        </div>
        <div class="metric_box">
            <div>
                <span class="kpi-value">{{ kpis.minPreparationTime }}</span>
            </div>
            <div>
                <p class="kpi-title">Tiempo mínimo</p>
            </div>
        </div>
        <div class="metric_box">
            <div>
                <span class="kpi-value">{{ kpis.maxPreparationTime }}</span>
            </div>
            <div>
                <p class="kpi-title">Tiempo máximo</p>
            </div>
        </div>
    </div>
</div>