<div class="content" role="main">
  <app-kpis [pickupScreen]="true"></app-kpis>
    <div class="pedidos">
      <h1>PEDIDOS</h1>
      <!--<app-bar-chart-pickup></app-bar-chart-pickup>-->
      <app-orderslist [pickupScreen]="true"></app-orderslist>
    </div>
</div>

<div class="shake-hand">
  <img src="../../assets/shake-no-bg.png">
</div>

<div class="pop-hand">
  <img src="../../assets/bitepop-hand.png">
</div>

<div class="pop-sauce">
  <img src="../../assets/bitepop-sauce.png">
</div>


<div class="qr-container">
  <h2>HAZ TU PEDIDO</h2>
  <div class="qr-div">
    <img id="qr-code" src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://bitehouseburger.es/order-type-selection/"
      alt="QR Code">
  </div>
</div>