.example-card {
    max-width: 80%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-weight: bold;
    color: #000;
    border: none;
    outline: none;
}

button:hover {
    background: #ccc;
}